################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/NailIt/FileContentIndex/77f76c72-8d1d-44e5-9795-af9373c5721f.vsidx
