################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/NailIt/FileContentIndex/275e5206-562b-4780-8b5b-b60d0358fca5.vsidx
/.vs/NailIt/FileContentIndex/2ef9c25d-6789-4893-b960-7644c4761ed7.vsidx
/.vs/NailIt/FileContentIndex/8e78a51e-f83f-4145-811b-21ae864aa69b.vsidx
/.vs/NailIt/FileContentIndex/a4c7d85d-3a6f-450b-aae5-b70b616c775a.vsidx
/.vs/NailIt/FileContentIndex/cb7fd523-42e9-4d06-b611-7511b1fa60ec.vsidx
/.vs/NailIt/FileContentIndex/7a4714fe-e760-40f8-9d62-18e2d3c52b9a.vsidx
/.vs/NailIt/FileContentIndex/3cdfc462-8448-4f6f-80af-502938ba8d08.vsidx
/.vs/NailIt/FileContentIndex/4dbfd747-da27-4d38-8df4-50dfe22fe34f.vsidx
/.vs/NailIt/FileContentIndex
