################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/NailIt/FileContentIndex/77f76c72-8d1d-44e5-9795-af9373c5721f.vsidx
/.vs/NailIt/FileContentIndex/read.lock
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/NailIt/v17/.suo
/.vs/NailIt/FileContentIndex/2c0b70c3-a031-47b8-bcba-178dc6229af4.vsidx
/.vs/NailIt/FileContentIndex/af1d3f01-8144-4f3a-b3ee-3ed28e204fb6.vsidx
/.vs/NailIt/FileContentIndex/c8268551-0b98-43b8-a390-ad402afca67b.vsidx
/.vs/NailIt/FileContentIndex/dd861f2e-d2e4-48bf-8e1f-5a99865b6b4b.vsidx
