.tag {
	display: inline-block;
	margin-top: 5%;
	padding: 2%;
	margin-bottom: 0%;
}
.tag:hover {
	border-color: darkgrey;
	cursor: pointer;
}
dialog {
	border: none;	
	box-shadow: 0 2px 6px #ccc;
	border-radius: 10px;
	width: 30%;
	height: 57%;
	position:fixed;
}

.detailItem {
	margin-top: 2%;
	display: inline-block
}
#Xpng:hover {
	cursor:pointer
}

.fa:hover {
	cursor: pointer;
}
