/* 因為nav浮起，mzrgin多餘空間，避免頁面內容被nav擋住 */


.default-margin{
    margin-top:90px
}
/* 頁首 */
* {
    margin: 0;
    padding: 0;
}

body{
    margin-bottom: 0;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
}

#mynav {
    width: 100%;
    height: 90px;
    position: fixed;
    background-position-x:0px;
    font-size: 16px;
    background-color: white;
    opacity: .9;
    z-index: 9999;
}

#navall>div {
    /* background-color: blue; */
    max-height: 100%;
    /* 待研究 */
    height: 90px;
}

#brand {
    font-family: Cascadia Mono SemiBold;
    font-size: 30px;
    color: black;
    height: 100%;
}



.navmid {
    /* background-color: blue; */
    height: 100%;
}

.navmid>li {
    display: inline;
    color: black;

}

 .navmid > li > a {
   color: black;
   font-weight: bold;
}

.navmid>li>a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 7px;
}

.navend1 {
    /* background-color: darksalmon; */
    font-size: 14px;
    text-align: right;
    font-weight: bold;
}

.navend2>img {
    width: 25px;
    /* background-color: blue; */

}


/* 頁尾---------------------------------------------------------- */

#hid{    
    background-color:white; 
    border: 0px solid white; 
    height:60px;
    margin:1% 0%;
    }


footer {
    width: 100%;
    /* margin-top: 7%; */
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
}


#footit{
    margin-top:6%;
}

#footit b{
    font-size: 14px;
    margin-right:1%;
}

#footpre pre{
    color: white;
    font-size: 14px;
}

#footpre,#footcopy{
    margin-top:1%;
}

